<app-navbar></app-navbar>

<form>
    <div class="">
        <div class="mb-3 form-group">
            <label for="exampleFormControlInput1" class="form-label">Nombre completo</label>
            <input type="text" class="form-control" id="Nombre" [(ngModel)]="datos.nombre" name="nombre" placeholder="Juan Perez Lopez">
          </div>
        <div class="mb-3 form-group">
            <label for="exampleFormControlInput1" class="form-label">Correo electronico</label>
            <input type="email" class="form-control" id="correo" [(ngModel)]="datos.correo" name="correo" placeholder="name@example.com">
          </div>
          <div class="mb-3 form-group">
            <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
            <textarea class="form-control" id="mensaje" [(ngModel)]="datos.mensaje" name="mensaje" rows="3"></textarea>
          </div>
    </div>
      
    <button type="submit" class="btn btn-dark" (click)="guardar()">Enviar</button>
</form>