<app-navbar></app-navbar>
<body >
    <br>
    <div class="container justify-content-center align-items-center">
    <h1 class="text-center">Bad Bunny <img src="../../../assets/icons/icons8-bad-bunny-50.png" alt=""></h1>

    
        <div class="caja1 col-auto p-5 justify-content-center">
            <h3 class="text-center">Benito Antonio Martínez Ocasio, conocido artísticamente como Bad Bunny, es un rapero, cantante, compositor, productor y exluchador puertorriqueño.​​ Su estilo de música es generalmente definido como trap latino y reguetón, pero también ha interpretado otros géneros como kizomba.</h3>
        </div>

    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/images/Bad Bunny/Bad Bunny  .png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/images/Bad Bunny/bad-bunny-instagram.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <br>
      <h2 class="text-center">Discos</h2>
      <div class="row">
        <div class="col-sm-2">
          <div class="card text-bg-dark">
            <img src="../../../assets/images/Bad Bunny/Discos/descarga.jfif" class="card-img-top" alt="...">
            <div class="card-body" style="height: 330px;">
              <h5 class="card-title">Un verano sin ti</h5>
              <p class="card-text">Un verano sin ti es el cuarto álbum de estudio en solitario del rapero y cantante puertorriqueño Bad Bunny.</p>
              <a href="https://www.youtube.com/watch?v=1TCX_Aqzoo4&list=PLRW7iEDD9RDStpKHAckdbGs3xaCChAL7Z" target="_blank" class="btn btn-primary">Escuchar</a>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
            <div class="card text-bg-dark">
              <img src="../../../assets/images/Bad Bunny/Discos/descarga (1).jfif" class="card-img-top" alt="...">
              <div class="card-body" style="height: 330px;">
                <h5 class="card-title">YHLQMDLG</h5>
                <p class="card-text">YHLQMDLG ​ es el segundo álbum de estudio en solitario del rapero y cantante puertorriqueño Bad Bunny.</p>
                <a href="https://www.youtube.com/watch?v=Da-CIlJU8I4&list=PLRW7iEDD9RDS2irjCFJo7dkcswBaJZXGG" target="_blank" class="btn btn-primary">Escuchar</a>
              </div>
            </div>
          </div>
          <div class="col-sm-2" >
            <div class="card text-bg-dark">
              <img src="../../../assets/images/Bad Bunny/Discos/descarga (2).jfif" class="card-img-top" alt="...">
              <div class="card-body" style="height: 330px;">
                <h5 class="card-title">El último tour del mundo</h5>
                <p class="card-text">El Último Tour Del Mundo es el tercer álbum de estudio en solitario y el cuarto en general del rapero Bad Bunny</p>
                <a href="https://www.youtube.com/watch?v=f5omY8jVrSM&list=PLRW7iEDD9RDQBBft2zmdpdcznIOyDw_n2" target="_blank" class="btn btn-primary">Escuchar</a>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card text-bg-dark">
              <img src="../../../assets/images/Bad Bunny/Discos/descarga (3).jfif" class="card-img-top" alt="...">
              <div class="card-body" style="height: 330px;">
                <h5 class="card-title">X 100pre</h5>
                <p class="card-text">X 100pre es el álbum debut de estudio del rapero puertorriqueño Bad Bunny.</p>
                <a href="https://www.youtube.com/watch?v=7rbprAR_Reg&list=PLRW7iEDD9RDQjStVF3FjOUlTmhR2d0_tU" target="_blank" class="btn btn-primary">Escuchar</a>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card text-bg-dark">
              <img src="../../../assets/images/Bad Bunny/Discos/descarga (4).jfif" class="card-img-top" alt="...">
              <div class="card-body" style="height: 330px;">
                <h5 class="card-title">El Conejo Malo</h5>
                <p class="card-text">Fecha de publicación: 28 de marzo de 2017</p>
                <a href="https://www.youtube.com/watch?v=Km4BayZykwE&list=PLiLnx2X6yO_pSiT2Nx6cI2DJWwd4aWcXL" target="_blank" class="btn btn-primary">Escuchar</a>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card text-bg-dark">
              <img src="../../../assets/images/Bad Bunny/Discos/descarga (5).jfif" class="card-img-top" alt="...">
              <div class="card-body" style="height: 330px;">
                <h5 class="card-title">Oasis</h5>
                <p class="card-text">Oasis es un álbum de estudio colaborativo entre el cantante colombiano J Balvin y el rapero puertorriqueño Bad Bunny.</p>
                <a href="https://www.youtube.com/watch?v=osTJc5e1Cyo&list=PLO2QIP1-vAKkbGRVOugodM1RoUbagYb6N" target="_blank" class="btn btn-primary">Escuchar</a>
              </div>
            </div>
          </div>
        <!-- <div class="col-sm-2">
            <div class="card text-bg-dark">
              <img src="../../../assets/images/Bad Bunny/Discos/descarga (6).jfif" class="card-img-top" alt="...">
              <div class="card-body" style="height: 330px;">
                <h5 class="card-title">Las que no iban a salir</h5>
                <p class="card-text">Las que no iban a salir es un álbum recopilatorio del rapero y cantante puertorriqueño Bad Bunny.</p>
                <a href="https://www.youtube.com/watch?v=L88MenfjtTI&list=PLRW7iEDD9RDTnrFSzfd_WqMmtZK009MpS" target="_blank" class="btn btn-primary">Escuchar</a>
              </div>
            </div>
          </div> -->
          

      </div>

      <h2 class="text-center mt-5">Canciones favoritas</h2>
      <div class="row">
        <div class="col-sm-3">
          <div class="card text-bg-dark">
            <img src="../../../assets/images/Bad Bunny/Discos/cancion1.jfif" class="card-img-top" alt="...">
            <div class="card-body" style="height: 160px;">
              <h5 class="card-title">Me porto bonito</h5>
              <p class="card-text">Canción de Bad Bunny y Chencho Corleone<p>
              <a href="https://www.youtube.com/watch?v=saGYMhApaH8" target="_blank" class="btn btn-primary">Escuchar</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-bg-dark">
              <img src="../../../assets/images/Bad Bunny/Discos/cancion2.jfif" class="card-img-top" alt="...">
              <div class="card-body" style="height: 160px;">
                <h5 class="card-title">Tití me preguntó</h5>
                <p class="card-text">Canción de Bad Bunny<p>
                <a href="https://www.youtube.com/watch?v=Cr8K88UcO0s" target="_blank" class="btn btn-primary">Escuchar</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card text-bg-dark">
              <img src="../../../assets/images/Bad Bunny/Discos/cancion3.jfif" class="card-img-top" alt="...">
              <div class="card-body" style="height: 160px;">
                <h5 class="card-title">Ojitos lindos</h5>
                <p class="card-text">Canción de Bad Bunny y Bomba Estéreo<p>
                <a href="https://www.youtube.com/watch?v=7GDp7S1HgSk" target="_blank" class="btn btn-primary">Escuchar</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card text-bg-dark">
              <img src="../../../assets/images/Bad Bunny/Discos/cancion4.jfif" class="card-img-top" alt="...">
              <div class="card-body" style="height: 160px;">
                <h5 class="card-title">Me acostumbré</h5>
                <p class="card-text">Canción de Arcángel y Bad Bunny<p>
                <a href="https://www.youtube.com/watch?v=xKKeqlBQ3Js" target="_blank" class="btn btn-primary">Escuchar</a>
              </div>
            </div>
          </div>

    </div>
    <h2 class="text-center mt-5">Redes Sociales</h2>
    <br>
    <div class="icon">
        <a href="https://twitter.com/sanbenito" target="_blank" class=""><img src="../../../assets/icons/icons8-twitter-96.png" alt="twiter"></a>
        <a href="https://www.instagram.com/badbunnypr/?hl=es-la" target="_blank" class=""><img src="../../../assets/icons/icons8-instagram-96.png" alt="html"></a>
        <a href="https://www.youtube.com/@BadBunnyPR" target="_blank" class=""><img src="../../../assets/icons/icons8-youtube-play-100.png" alt="html"></a>
        <a href="https://open.spotify.com/artist/4q3ewBCX7sLwd24euuV69X" target="_blank" class=""><img src="../../../assets/icons/icons8-spotify-96.png" alt="html"></a>
        </div>
    </div>
</body>
