<app-navbar></app-navbar>
<body >
    <h1 class="text-center">Alexis Estrada Evangelista</h1>
    <div class="container text-center">
        <div class="row align-items-start">
          <div class="col">
            <br>
            <h5>Lenguajes</h5>
            <div class="icon">
                <a href="#" class=""><img src="../assets/icons/icons8-html-5-96.png" alt="html"></a>
                <a href="#" class=""><img src="../assets/icons/icons8-css3-96.png" alt="css"></a>
                <a href="#" class="icon"><img src="../assets/icons/icons8-javascript-96.png" alt="javascript"></a>
                <a href="#" class="icon"><img src="../assets/icons/icons8-logotipo-de-java-coffee-cup-96.png" alt="java" title="Java"></a>
                <a href="#" class="icon"><img src="../../../assets/icons/icons8-typescript-96.png" alt="typescript" title="Typescript"></a>
                <a href="" class="icon"><img src="../../../assets/icons/icons8-sql-96.png" alt="sql" title="Sql"></a>
                </div>
                <br>
                <h5>Contacto</h5>
                <div class="icon">
                    <a href="https://twitter.com/Alex_Estrd" target="_blank" class="icon"><img src="../../../assets/icons/icons8-twitter-96.png" alt="twiter" title="Twiter"></a>
                    <a href="https://www.linkedin.com/in/alexis-estrada-evangelista-a69224211/" target="_blank" class="icon"><img src="../../../assets/icons/icons8-linkedin-96.png" alt="linkedin" title="Linkedin"></a>
                    <a href="https://github.com/alexestrd" target="_blank" class="icon"><img src="../../../assets/icons/icons8-github-96.png" alt="github" title="Github"></a>
                </div>
          </div>
          <div class="col">
            <div class="card text-bg-dark" style="width: 18rem;">
                <img src="../../../assets/images/Alexis.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Frontend Developer</p>
                </div>
              </div>
          </div>
          
        </div>
      </div>
      <br>
      <br>
      <div class="d-flex align-items-center">
        <div class="caj">
          <h4>Mis hobies serian ver deportes en especial futbol, jugar videojuegos, ver series y estudiar. Conrespecto a angularconsidero que tengo
            un nivel intermedio avanzado
          </h4>
        </div>
      </div>
</body>